/* Atelier Plateau by Bram de Haan (http://atelierbramdehaan.nl) */
@media (prefers-color-scheme: dark) {
  .base16-atelier-plateau {
    --base00: #1b1818;
    --base01: #292424;
    --base02: #585050;
    --base03: #655d5d;
    --base04: #7e7777;
    --base05: #8a8585;
    --base06: #e7dfdf;
    --base07: #f4ecec;
    --base08: #ca4949;
    --base09: #b45a3c;
    --base0A: #a06e3b;
    --base0B: #4b8b8b;
    --base0C: #5485b6;
    --base0D: #7272ca;
    --base0E: #8464c4;
    --base0F: #bd5187;
  }
}
.base16-atelier-plateau.dark {
  --base00: #1b1818;
  --base01: #292424;
  --base02: #585050;
  --base03: #655d5d;
  --base04: #7e7777;
  --base05: #8a8585;
  --base06: #e7dfdf;
  --base07: #f4ecec;
  --base08: #ca4949;
  --base09: #b45a3c;
  --base0A: #a06e3b;
  --base0B: #4b8b8b;
  --base0C: #5485b6;
  --base0D: #7272ca;
  --base0E: #8464c4;
  --base0F: #bd5187;
}

/* Atelier Plateau by Bram de Haan (http://atelierbramdehaan.nl) */
.base16-atelier-plateau {
  --base00: #1b1818;
  --base01: #292424;
  --base02: #585050;
  --base03: #655d5d;
  --base04: #7e7777;
  --base05: #8a8585;
  --base06: #e7dfdf;
  --base07: #f4ecec;
  --base08: #ca4949;
  --base09: #b45a3c;
  --base0A: #a06e3b;
  --base0B: #4b8b8b;
  --base0C: #5485b6;
  --base0D: #7272ca;
  --base0E: #8464c4;
  --base0F: #bd5187;
}

/* Atelier Plateau Light by Bram de Haan (http://atelierbramdehaan.nl) */
@media (prefers-color-scheme: light) {
  .base16-atelier-plateau {
    --base00: #f4ecec;
    --base01: #e7dfdf;
    --base02: #8a8585;
    --base03: #7e7777;
    --base04: #655d5d;
    --base05: #585050;
    --base06: #292424;
    --base07: #1b1818;
    --base08: #ca4949;
    --base09: #b45a3c;
    --base0A: #a06e3b;
    --base0B: #4b8b8b;
    --base0C: #5485b6;
    --base0D: #7272ca;
    --base0E: #8464c4;
    --base0F: #bd5187;
  }
}
.base16-atelier-plateau.light {
  --base00: #f4ecec;
  --base01: #e7dfdf;
  --base02: #8a8585;
  --base03: #7e7777;
  --base04: #655d5d;
  --base05: #585050;
  --base06: #292424;
  --base07: #1b1818;
  --base08: #ca4949;
  --base09: #b45a3c;
  --base0A: #a06e3b;
  --base0B: #4b8b8b;
  --base0C: #5485b6;
  --base0D: #7272ca;
  --base0E: #8464c4;
  --base0F: #bd5187;
}

