/* Equilibrium Gray Dark by Carlo Abelli */
@media (prefers-color-scheme: dark) {
  .base16-equilibrium-gray {
    --base00: #111111;
    --base01: #1b1b1b;
    --base02: #262626;
    --base03: #777777;
    --base04: #919191;
    --base05: #ababab;
    --base06: #c6c6c6;
    --base07: #e2e2e2;
    --base08: #f04339;
    --base09: #df5923;
    --base0A: #bb8801;
    --base0B: #7f8b00;
    --base0C: #00948b;
    --base0D: #008dd1;
    --base0E: #6a7fd2;
    --base0F: #e3488e;
  }
}
.base16-equilibrium-gray.dark {
  --base00: #111111;
  --base01: #1b1b1b;
  --base02: #262626;
  --base03: #777777;
  --base04: #919191;
  --base05: #ababab;
  --base06: #c6c6c6;
  --base07: #e2e2e2;
  --base08: #f04339;
  --base09: #df5923;
  --base0A: #bb8801;
  --base0B: #7f8b00;
  --base0C: #00948b;
  --base0D: #008dd1;
  --base0E: #6a7fd2;
  --base0F: #e3488e;
}

/* Equilibrium Gray Dark by Carlo Abelli */
.base16-equilibrium-gray {
  --base00: #111111;
  --base01: #1b1b1b;
  --base02: #262626;
  --base03: #777777;
  --base04: #919191;
  --base05: #ababab;
  --base06: #c6c6c6;
  --base07: #e2e2e2;
  --base08: #f04339;
  --base09: #df5923;
  --base0A: #bb8801;
  --base0B: #7f8b00;
  --base0C: #00948b;
  --base0D: #008dd1;
  --base0E: #6a7fd2;
  --base0F: #e3488e;
}

/* Equilibrium Gray Light by Carlo Abelli */
@media (prefers-color-scheme: light) {
  .base16-equilibrium-gray {
    --base00: #f1f1f1;
    --base01: #e2e2e2;
    --base02: #d4d4d4;
    --base03: #777777;
    --base04: #5e5e5e;
    --base05: #474747;
    --base06: #303030;
    --base07: #1b1b1b;
    --base08: #d02023;
    --base09: #bf3e05;
    --base0A: #9d6f00;
    --base0B: #637200;
    --base0C: #007a72;
    --base0D: #0073b5;
    --base0E: #4e66b6;
    --base0F: #c42775;
  }
}
.base16-equilibrium-gray.light {
  --base00: #f1f1f1;
  --base01: #e2e2e2;
  --base02: #d4d4d4;
  --base03: #777777;
  --base04: #5e5e5e;
  --base05: #474747;
  --base06: #303030;
  --base07: #1b1b1b;
  --base08: #d02023;
  --base09: #bf3e05;
  --base0A: #9d6f00;
  --base0B: #637200;
  --base0C: #007a72;
  --base0D: #0073b5;
  --base0E: #4e66b6;
  --base0F: #c42775;
}

