@charset "UTF-8";
/* Horizon Dark by Michaël Ball (http://github.com/michael-ball/) */
@media (prefers-color-scheme: dark) {
  .base16-horizon-terminal {
    --base00: #1C1E26;
    --base01: #232530;
    --base02: #2E303E;
    --base03: #6F6F70;
    --base04: #9DA0A2;
    --base05: #CBCED0;
    --base06: #DCDFE4;
    --base07: #E3E6EE;
    --base08: #E95678;
    --base09: #FAB795;
    --base0A: #FAC29A;
    --base0B: #29D398;
    --base0C: #59E1E3;
    --base0D: #26BBD9;
    --base0E: #EE64AC;
    --base0F: #F09383;
  }
}
.base16-horizon-terminal.dark {
  --base00: #1C1E26;
  --base01: #232530;
  --base02: #2E303E;
  --base03: #6F6F70;
  --base04: #9DA0A2;
  --base05: #CBCED0;
  --base06: #DCDFE4;
  --base07: #E3E6EE;
  --base08: #E95678;
  --base09: #FAB795;
  --base0A: #FAC29A;
  --base0B: #29D398;
  --base0C: #59E1E3;
  --base0D: #26BBD9;
  --base0E: #EE64AC;
  --base0F: #F09383;
}

@charset "UTF-8";
/* Horizon Dark by Michaël Ball (http://github.com/michael-ball/) */
.base16-horizon-terminal {
  --base00: #1C1E26;
  --base01: #232530;
  --base02: #2E303E;
  --base03: #6F6F70;
  --base04: #9DA0A2;
  --base05: #CBCED0;
  --base06: #DCDFE4;
  --base07: #E3E6EE;
  --base08: #E95678;
  --base09: #FAB795;
  --base0A: #FAC29A;
  --base0B: #29D398;
  --base0C: #59E1E3;
  --base0D: #26BBD9;
  --base0E: #EE64AC;
  --base0F: #F09383;
}

@charset "UTF-8";
/* Horizon Light by Michaël Ball (http://github.com/michael-ball/) */
@media (prefers-color-scheme: light) {
  .base16-horizon-terminal {
    --base00: #FDF0ED;
    --base01: #FADAD1;
    --base02: #F9CBBE;
    --base03: #BDB3B1;
    --base04: #948C8A;
    --base05: #403C3D;
    --base06: #302C2D;
    --base07: #201C1D;
    --base08: #E95678;
    --base09: #F9CEC3;
    --base0A: #FADAD1;
    --base0B: #29D398;
    --base0C: #59E1E3;
    --base0D: #26BBD9;
    --base0E: #EE64AC;
    --base0F: #F9CBBE;
  }
}
.base16-horizon-terminal.light {
  --base00: #FDF0ED;
  --base01: #FADAD1;
  --base02: #F9CBBE;
  --base03: #BDB3B1;
  --base04: #948C8A;
  --base05: #403C3D;
  --base06: #302C2D;
  --base07: #201C1D;
  --base08: #E95678;
  --base09: #F9CEC3;
  --base0A: #FADAD1;
  --base0B: #29D398;
  --base0C: #59E1E3;
  --base0D: #26BBD9;
  --base0E: #EE64AC;
  --base0F: #F9CBBE;
}

