/* Material Darker by Nate Peterson */
.base16-material.darker {
  --base00: #212121;
  --base01: #303030;
  --base02: #353535;
  --base03: #4A4A4A;
  --base04: #B2CCD6;
  --base05: #EEFFFF;
  --base06: #EEFFFF;
  --base07: #FFFFFF;
  --base08: #F07178;
  --base09: #F78C6C;
  --base0A: #FFCB6B;
  --base0B: #C3E88D;
  --base0C: #89DDFF;
  --base0D: #82AAFF;
  --base0E: #C792EA;
  --base0F: #FF5370;
}

/* Material by Nate Peterson */
.base16-material {
  --base00: #263238;
  --base01: #2E3C43;
  --base02: #314549;
  --base03: #546E7A;
  --base04: #B2CCD6;
  --base05: #EEFFFF;
  --base06: #EEFFFF;
  --base07: #FFFFFF;
  --base08: #F07178;
  --base09: #F78C6C;
  --base0A: #FFCB6B;
  --base0B: #C3E88D;
  --base0C: #89DDFF;
  --base0D: #82AAFF;
  --base0E: #C792EA;
  --base0F: #FF5370;
}

/* Material Lighter by Nate Peterson */
.base16-material.lighter {
  --base00: #FAFAFA;
  --base01: #E7EAEC;
  --base02: #CCEAE7;
  --base03: #CCD7DA;
  --base04: #8796B0;
  --base05: #80CBC4;
  --base06: #80CBC4;
  --base07: #FFFFFF;
  --base08: #FF5370;
  --base09: #F76D47;
  --base0A: #FFB62C;
  --base0B: #91B859;
  --base0C: #39ADB5;
  --base0D: #6182B8;
  --base0E: #7C4DFF;
  --base0F: #E53935;
}

/* Material Palenight by Nate Peterson */
.base16-material.palenight {
  --base00: #292D3E;
  --base01: #444267;
  --base02: #32374D;
  --base03: #676E95;
  --base04: #8796B0;
  --base05: #959DCB;
  --base06: #959DCB;
  --base07: #FFFFFF;
  --base08: #F07178;
  --base09: #F78C6C;
  --base0A: #FFCB6B;
  --base0B: #C3E88D;
  --base0C: #89DDFF;
  --base0D: #82AAFF;
  --base0E: #C792EA;
  --base0F: #FF5370;
}

/* Material Vivid by joshyrobot */
.base16-material.vivid {
  --base00: #202124;
  --base01: #27292c;
  --base02: #323639;
  --base03: #44464d;
  --base04: #676c71;
  --base05: #80868b;
  --base06: #9e9e9e;
  --base07: #ffffff;
  --base08: #f44336;
  --base09: #ff9800;
  --base0A: #ffeb3b;
  --base0B: #00e676;
  --base0C: #00bcd4;
  --base0D: #2196f3;
  --base0E: #673ab7;
  --base0F: #8d6e63;
}

