/* Unikitty Dark by Josh W Lewis (@joshwlewis) */
@media (prefers-color-scheme: dark) {
  .base16-unikitty {
    --base00: #2e2a31;
    --base01: #4a464d;
    --base02: #666369;
    --base03: #838085;
    --base04: #9f9da2;
    --base05: #bcbabe;
    --base06: #d8d7da;
    --base07: #f5f4f7;
    --base08: #d8137f;
    --base09: #d65407;
    --base0A: #dc8a0e;
    --base0B: #17ad98;
    --base0C: #149bda;
    --base0D: #796af5;
    --base0E: #bb60ea;
    --base0F: #c720ca;
  }
}
.base16-unikitty.dark {
  --base00: #2e2a31;
  --base01: #4a464d;
  --base02: #666369;
  --base03: #838085;
  --base04: #9f9da2;
  --base05: #bcbabe;
  --base06: #d8d7da;
  --base07: #f5f4f7;
  --base08: #d8137f;
  --base09: #d65407;
  --base0A: #dc8a0e;
  --base0B: #17ad98;
  --base0C: #149bda;
  --base0D: #796af5;
  --base0E: #bb60ea;
  --base0F: #c720ca;
}

/* Unikitty Dark by Josh W Lewis (@joshwlewis) */
.base16-unikitty {
  --base00: #2e2a31;
  --base01: #4a464d;
  --base02: #666369;
  --base03: #838085;
  --base04: #9f9da2;
  --base05: #bcbabe;
  --base06: #d8d7da;
  --base07: #f5f4f7;
  --base08: #d8137f;
  --base09: #d65407;
  --base0A: #dc8a0e;
  --base0B: #17ad98;
  --base0C: #149bda;
  --base0D: #796af5;
  --base0E: #bb60ea;
  --base0F: #c720ca;
}

/* Unikitty Light by Josh W Lewis (@joshwlewis) */
@media (prefers-color-scheme: light) {
  .base16-unikitty {
    --base00: #ffffff;
    --base01: #e1e1e2;
    --base02: #c4c3c5;
    --base03: #a7a5a8;
    --base04: #89878b;
    --base05: #6c696e;
    --base06: #4f4b51;
    --base07: #322d34;
    --base08: #d8137f;
    --base09: #d65407;
    --base0A: #dc8a0e;
    --base0B: #17ad98;
    --base0C: #149bda;
    --base0D: #775dff;
    --base0E: #aa17e6;
    --base0F: #e013d0;
  }
}
.base16-unikitty.light {
  --base00: #ffffff;
  --base01: #e1e1e2;
  --base02: #c4c3c5;
  --base03: #a7a5a8;
  --base04: #89878b;
  --base05: #6c696e;
  --base06: #4f4b51;
  --base07: #322d34;
  --base08: #d8137f;
  --base09: #d65407;
  --base0A: #dc8a0e;
  --base0B: #17ad98;
  --base0C: #149bda;
  --base0D: #775dff;
  --base0E: #aa17e6;
  --base0F: #e013d0;
}

